html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #964b00;
    color: #fff;
}

.cafe-banner {
  background-color: #964B00;
  text-align: center;
  padding: 0px 0px 0px 70px; 
}

.cafe-banner h1 {
  font-family: serif;
  font-size: 50px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.cafe-banner p {
  font-family: 'Brush Script MT', cursive;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 5px;
}
.nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 15px;
    font-size: 25px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
  margin: 0;
  padding-right: 100px;
}

header nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  padding: 0.5em;
}

header nav a:hover {
  color: #786c3b; 
  border-bottom: 2px solid #786c3b;
}

body {
    background-color: #886E58;
}

.hero {
  text-align: center;
  padding: 2em;
  /* background-color: #f0e4cc;  */
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: url(pictures/cafeeee.jpg);
}

.hero h1 {
  font-size: 3em;
  color: #bea536;
  margin: 0;
  padding-bottom: 60px;
}

.hero p {
  font-size: 25px;
  display: inline-block;
  border-bottom: 1px solid black;
  color: rgb(240, 255, 157);
}

.welcome {
  padding: 2em;
  background-color: #fff;
}

.welcome p {
  padding-left: 100px;
  padding-right: 70px;
}

.welcome h2 {
  font-size: 1.5em;
  color: #964b00;
  padding-left: 50px;
  font-family: Verdana, sans-serif;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.carousel-controls button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #964b00;
}

.carousel-controls button:hover {
  background-color: bisque;
}