html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url(pictures/homepagebg2.jpg); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(238,194,128, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.cafe-banner h1 {
  font-family: serif;
  font-size: 50px;
  color: #fff;
  margin-bottom: 0;
  margin-left: 90px;
}

.cafe-banner p {
  font-family: 'Brush Script MT', cursive;
  font-size: 20px;
  color: #fff;
  margin-left: 200px;
  margin-top: 5px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 100px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-family: serif;
    font-size: 25px;
}

header nav a:hover {
  color: #874c1a; /* darker brown */
  border-bottom: 2px solid #874c1a;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.hero {
    background-color: rgba(238,194,128, 0.3);
    color: #412206;
    text-align: center;
    margin: 30px 60px 0px 0px;
}

.hero h1 {
    font-family: 'lucida handwriting', cursive;
    font-size: 50px;
}

.welcome {
    background-color: rgba(238,194,128, 0.3);
    margin: 50px 60px 0px 0px;
}
.welcome h2{
    font-family: 'Georgia', serif;
    color: #412206;
    font-size: 30px;
}

.welcome p{
    font-size: 20px;
    color: #412206;
    text-align: center;
}

/*FOOTER*/
.footer {
  background-color: #A85311;
  color: #fff;
  font-family: serif;
  font-size: 15px;
  display: flex;
  gap: 500px;
  height: 330px;
}

.footer_content {
  margin: 20px;
  padding: 0px 0px 0px 70px;
}

.footer h1 {
  color: #ffffff;
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.footer h2 {
  color: #e6d5ce;
  font-size: 20px;
}

.footer p {
  margin-left: 30px;
}

.socials {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 20px;
}

.socials h2 {
  font-size: 20px;
  color: #e6d5ce;
  margin: 0;
}

.icons {
  font-size: 24px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.icons a {
  color: #ffffff;
}

.icons a:hover {
  color: #36241c;
}

.map {
  display: flex;
}

.map img {
  border: 0;
  width: 600px;
  height: 330px;
}
