html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('homepagebg2.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(238,194,128, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.cafe-banner h1 {
  font-family: serif;
  font-size: 50px;
  color: #fff;
  margin-bottom: 0;
  margin-left: 90px;
}

.cafe-banner p {
  font-family: 'Brush Script MT', cursive;
  font-size: 20px;
  color: #fff;
  margin-left: 200px;
  margin-top: 5px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 100px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-family: serif;
    font-size: 25px;
}

header nav a:hover {
  color: #874c1a; /* darker brown */
  border-bottom: 2px solid #874c1a;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.hero {
    background-color: rgba(238,194,128, 0.3);
    color: #412206;
    text-align: center;
    margin: 30px 60px 0px 0px;
}

.hero h1 {
    font-family: 'lucida handwriting', cursive;
    font-size: 50px;
}

.welcome {
    background-color: rgba(238,194,128, 0.3);
    margin: 50px 10px 0px 0px;
}
.welcome h2{
    font-family: 'Georgia', serif;
    color: #412206;
    font-size: 30px;
}

.welcome p{
    font-size: 20px;
    color: #412206;
    text-align: center;
}

#menu {
  display: none;
  background-image: url('Menu\ BG.jpg'); 
    background-size: cover;
    background-position: center;
}

#menu:target {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F5DC; /* beige */
  padding: 20px;
}

h2 {
  color: #964B00; /* brown */
}

.menu-container {
  width: 80%;
  margin: 40px auto;
}

.search-bar input[type="search"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.menu-nav ul {
  list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.menu-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  text-align: center;
}

.product-image {
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
}

.product h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.product p {
  font-size: 12px;
  color: #666;
}




/*GALLERRY PAGE (CONTENT)*/
.gcontent {
  background-color: #aa8b7e;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding-bottom: 40px;
}

.gheader {
  padding: 40px 50px;
}

.gheader h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.gtxt h2 {
  color: #36241c;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.gtxt p {
  color: #36241c;
  font-size: 1rem;
}

.images {
  background-color: #815f51;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px 10px;
  max-height: 600px;
  overflow-y: auto;
}

.img-box {
  overflow: hidden;
  transition: transform 0.3s ease;
}

.img_box img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
  display: block;
}

.img_box:hover {
  transform: scale(1.05);
}

/*FOOTER*/
.footer {
  background-color: #815f51;
  color: #fff;
  font-family: serif;
  font-size: 15px;
  display: flex;
  gap: 500px;
  height: 330px;
}

.footer_content {
  margin: 20px;
  padding: 0px 0px 0px 70px;
}

.footer h1 {
  color: #ffffff;
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.footer h2 {
  color: #e6d5ce;
  font-size: 20px;
}

.footer p {
  margin-left: 30px;
}

.socials {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 20px;
}

.socials h2 {
  font-size: 20px;
  color: #e6d5ce;
  margin: 0;
}

.icons {
  font-size: 24px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.icons a {
  color: #ffffff;
}

.icons a:hover {
  color: #36241c;
}

.map {
  display: flex;
}

.map img {
  border: 0;
  width: 600px;
  height: 330px;
}
