html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: #735238;
}

.title {
    margin: 0;
    padding: 10px;
    color: wheat;
}

.nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 15px;
    font-size: 25px;
}

.nav a {
    text-decoration: none;
    color: white;    
}

.nav a:hover{
    color: burlywood;
}

body {
    background-color: #886E58;
}

.welcome { /* im trying to copy the border looking thing in our pdf */
    border: 1px solid black;
    background-color: bisque;
    width: 100%;
    margin-top: 25vh;
    text-align: center;
}