html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*background-image: url(pictures/homepagebg2.jpg); 
    background-size: cover;
    background-position: center; */
    font-family: Arial, sans-serif;
    color: #333;
    height: 100%; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7f5539;
    /* background-color: rgba(255, 255, 255, 0.1); */
    padding: 10px;
}

/* Logo */
.cafe-banner{
   text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    position: relative; 
}

/* Mug design with animation */
.cup {
    width: 60px;
    height: 50px;
    border: 4px solid  #5c2e1b;
    border-radius: 10px 10px 25px 25px;
    position: relative;
    background-color: #fff;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cup::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 40px;
    border-radius: 5px 5px 20px 20px;
    background-image: linear-gradient(to bottom, #f7f7f7, #e5e5e5);
}

.handle {
    width: 15px;
    height: 25px;
    border: 4px solid #5c2e1b;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: -15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.steam {
    position: absolute;
    top: 15px;
    left: 35px;
    z-index: 1;
}

.steam-circle {
    width: 5px;
    height: 5px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 5px;
    animation: steam 2s infinite;
}

.steam-circle:nth-child(1) {
    animation-delay: 0s;
}

.steam-circle:nth-child(2) {
    animation-delay: 0.5s;
}

.steam-circle:nth-child(3) {
    animation-delay: 1s;
}

@keyframes steam {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-10px);
        opacity: 0;
    }
}

.cafe-banner h1 {
  font-family: serif;
  font-size: 50px;
  color: #fff;
  margin-bottom: 0;
  margin-left: 40px;
}

.cafe-banner p {
  font-family: 'Brush Script MT', cursive;
  font-size: 20px;
  color: #fff;
  margin-left: 50px;
  margin-top: 5px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 100px;
}

header nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: serif;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

header nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(#92543a 10%, #533528 40%, #36241c 50%);
  transition: width 0.4s ease;
}

header nav a:hover {
  color: #36241c;
}

header nav a:hover::after {
  width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

/*FOOTER*/
.footer {
  background-color: #7f5539;
  color: #fff;
  font-family: serif;
  font-size: 15px;
  display: flex;
  gap: 500px;
  height: 360px;
}

.footer_content {
  margin: 20px;
  padding: 0px 0px 0px 70px;
}

.footer h1 {
  color: #ffffff;
  font-size: 35px;
  margin-top: 1px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.footer h2 {
  color: #e6d5ce;
  font-size: 20px;
}

.footer p {
  margin-left: 30px;
}

.footer a {
  color: #ffffff; 
  text-decoration: none;
}

.footer a:hover {
  color: #36241c;   
  text-decoration: none;
}

.socials {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 20px;
}

.socials h2 {
  font-size: 20px;
  color: #e6d5ce;
  margin: 0;
}

.icons {
  font-size: 24px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.icons a {
  color: #ffffff;
}

.icons a:hover {
  color: #36241c;
}

.map {
  display: flex;
  margin-top: 16px;
}

.map img {
  border: 0;
  width: 600px;
  height: 330px;
}
