html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('homepagebg2.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(238,194,128, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.cafe-banner h1 {
  font-family: serif;
  font-size: 50px;
  color: #fff;
  margin-bottom: 0;
  margin-left: 90px;
}

.cafe-banner p {
  font-family: 'Brush Script MT', cursive;
  font-size: 20px;
  color: #fff;
  margin-left: 200px;
  margin-top: 5px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 100px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-family: serif;
    font-size: 25px;
}

header nav a:hover {
  color: #874c1a; /* darker brown */
  border-bottom: 2px solid #874c1a;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.hero {
    background-color: rgba(238,194,128, 0.3);
    color: #412206;
    text-align: center;
    margin: 30px 60px 0px 0px;
}

.hero h1 {
    font-family: 'lucida handwriting', cursive;
    font-size: 50px;
}

.welcome {
    background-color: rgba(238,194,128, 0.3);
    margin: 50px 10px 0px 0px;
}
.welcome h2{
    font-family: 'Georgia', serif;
    color: #412206;
    font-size: 30px;
}

.welcome p{
    font-size: 20px;
    color: #412206;
    text-align: center;
}

#menu {
  display: none;
  background-image: url('Menu\ BG.jpg'); 
    background-size: cover;
    background-position: center;
}

#menu:target {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F5DC; /* beige */
  padding: 20px;
}

h2 {
  color: #964B00; /* brown */
}

.menu-container {
  width: 80%;
  margin: 40px auto;
}

.search-bar input[type="search"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.menu-nav ul {
  list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.menu-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  text-align: center;
}

.product-image {
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
}

.product h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.product p {
  font-size: 12px;
  color: #666;
}
